/* Body resets */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 18px;
}

/* Watchface */
#watchface-model-a {
  width: 422px;
  height: 438px;
  margin: 2rem auto;
}

.is-active { fill: #222; }

#hours,
#minutes,
#hh,
#mm,
#meridiem {
  fill: #fff;
}

#meridiem { text-transform: uppercase; }

circle,
rect,
#hh,
#mm,
#meridiem {
  -webkit-transition: fill 2s ease;
     -moz-transition: fill 2s ease;
      -ms-transition: fill 2s ease;
          transition: fill 2s ease;
}

/* Footer */
#footer { text-align: center; }

#footer img {
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
          transition: all .25s ease;
}

#footer img:hover {
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
